html{
width:100%;
overflow-x:hidden;
}
body, p{
font-family:Sans-Serif;
margin:0;
}
.header{
background-color:rgba(244,244,244,1);
height:13%;
box-shadow: 0px 12px 30px -16px #000000;
}
.button{
position:relative;
top:50%;
left:10%;
}
#search{
position:relative;
top:30%;
left:80%;
}
#search-field{
height:20%;
width:15%;
font-size:1vw;
border-radius:0.2vw;
border-color:rgb(220,220,220);
border-style:solid;
}
#search-img{
height:10%;
margin-right:1%;
}
.button button{
background-color:rgb(0,111,202);
color:#fff;
border-width:5px;
border-color:rgb(0,111,202);
border-style:solid;
webkit-border-radius:5px;
border-radius:5px;
display:inline;
margin-left:1%;
height:35%;
width:10%;
border-radius:0.4vw;
font-size:1.2vw;
}
.button button:hover{
cursor:pointer;
background: rgb(0,74,202);
border-color:rgb(0,74,202); 
}
.button button:active{ 
background: rgb(0,74,120); 
border-color:rgb(0,74,120); 
}
.date-line{
position:relative;
left:10%;
margin-top:4vh;
}
.scroll-button, .today-button{
display:inline;
}
.scroll-button button {
position:relative;
height:4vh;
width:4vh;
display:inline;
background:#fff;
border-width:0.08vw;
border-radius:5px;
border-style:solid;
border-color:rgba(0,0,0,0.6);
border-radius:0.4vw;
font-size:1.4vw;
}
.today-button button {
position:relative;
height:4vh;
width:8vw;
display:inline;
background:#fff;
border-width:1px;
border-radius:0.4vw;
border-style:solid;
border-color:rgba(0,0,0,0.6);
margin-left:2vw;
font-size:1vw;
}
.today-button button:hover{
background:#E7F3F1;
cursor:pointer;
}
.today-button button:active{
background:#DBEBFF;
}

.scroll-button button:hover{
background:#E7F3F1;
cursor:pointer;
}
.scroll-button button:active{
background:#DBEBFF;
}
#date{
position:relative;
display:inline;
font-size:4vh;
margin:1%;
width:25vw;
}
table{
text-align:center;
position:fixed;
left:15%;
height:70%;
border: 0.1vw solid rgba(0,0,0,0.1);
width:70%;
border-collapse:collapse;
color:rgba(0,0,0,0.5);
border-radius:1px;
}
.calendar-table{
margin-left:10%;
margin-top:2%;
}
td{
max-width:6vw;
width:6vw;
max-height:6vw;
padding-left:1vw;
width:87px;
height:6vw;
text-align:left;
vertical-align:top;
border: 0.1vw solid rgba(0,0,0,0.1);
font-size:0.8vw;
}
tr{
}
td:hover{
border-color:rgb(135,197,248);
border-width:0.2vw;
border-style:solid;
cursor:pointer;
}
td[today]{
background-color:rgba(244,244,244,1);
color:rgb(134,134,134);
}
td[event]{
background-color:rgba(193,228,255,1);
}
#addbuttontrigger{
height:5%;
width:25%;
position:absolute;
top:13%;
left:10%;
display:none;
background:#fff;
padding:3%;
padding-top:1%;
border-radius:0.3vw;
box-shadow: 0px 0px 21px 4px #b5b5b5;
}
#createFast{
background:rgba(0,0,0,0.1);
display:block;
margin-top:5%;
border-radius:0.3vw;
border-style:solid;
border-width:0.1vw;
border-color:rgba(0,0,0,0.5);
font-size:1vw;
}
#addfasttext{
width:80%;
border-style:groove;
font-size:1.2vw;
}
#closeAddFast{
position:fixed;
left:40%;
top:13%;
font-size:0.8vw;
}
#createFast:hover{
cursor:pointer;
background:rgba(0,0,0,0.2);
}
#closeAddFast:hover{
cursor:pointer;
}
#addEvent{
position:absolute;
left:200%;
top:6%;
display:block;
height:40%;
width:20%;
background:#fff;
padding:2%;
box-shadow: 0px 0px 21px 4px #b5b5b5;
}
.addEventTextBox{
position:relative;
margin:1%;
width:100%;
height:2vw;
border-radius:0.3vw;
border-style:groove;
border-width:0.1vw;
border-color:rgba(0,0,0,0.5);
font-size:1.3vw;
}
#addEventTextField{
margin:1%;
width:100%;
height:10vw;
resize:none;
border-radius:0.3vw;
border-style:groove;
border-width:0.1vw;
border-color:rgba(0,0,0,0.5);
font-size:1.2vw;
}
#addEvent button{
background:rgba(0,0,0,0.04);
margin-top:5%;
margin-right:10%;
width:25%;
font-size:0.8vw;
border-radius:0.3vw;
border-style:groove;
border-width:0.1vw;
border-color:rgba(0,0,0,0.5);
}
#closeAddEvent{
position:fixed;
left:0;
top:0;
font-size:0.8vw;
}
#addEvent button:hover{
cursor:pointer;
background:rgba(0,0,0,0.14);
}
#closeAddEvent:hover{
cursor:pointer;
}
#eventName{
font-weight:bold;
}
.tooltip:before,
.tooltip:after {
    content:"\2666";
    font-family: monospace;
    font-size:3vw;
    line-height:52px;
    text-align:center;
    
    position:absolute;
    overflow:hidden;
    width:50px;
    height:50px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.tooltip:before {
    color:#fff;
}
.tooltip:after {
    color:#fff;
}
.topArrow:before,
.topArrow:after {
    left:20%;
    top:-25px;
    margin-left:-25px;
    clip:rect(0px, 50px, 25px, 0px);
}
.topArrow:after {
    top:-24px;
    color:#fff;
}
.leftArrow:before,
.leftArrow:after{
	text-align:center;
	left:0px;
	top:50%;
	margin-left:-25px;
	clip:rect();
}
.leftArrow:after{
	left:0px;
	color:#fff;
}
#openEvent{
position:absolute;
left:200%;
top:6%;
display:block;
height:40%;
width:20%;
background:#fff;
padding:2%;
box-shadow: 0px 0px 21px 4px #b5b5b5;
}
.openEventLabel{
position:relative;
margin:1%;
width:100%;
height:2vw;
font-size:1.3vw;
}
#openEventTextField{
margin:1%;
width:100%;
height:10vw;
resize:none;
border-radius:0.3vw;
border-style:groove;
border-width:0.1vw;
border-color:rgba(0,0,0,0.5);
font-size:1.2vw;
}
#openEvent button{
background:rgba(0,0,0,0.04);
margin-top:5%;
margin-right:10%;
width:25%;
font-size:0.8vw;
border-radius:0.3vw;
border-style:groove;
border-width:0.1vw;
border-color:rgba(0,0,0,0.5);
}
#closeopenEvent{
position:fixed;
left:0;
top:0;
font-size:0.8vw;
display:none;
width:0.01vw;
}
#openEvent button:hover{
cursor:pointer;
background:rgba(0,0,0,0.14);
}
#closeopenEvent:hover{
cursor:pointer;
}